<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKqXw57is8BoPYxcI-CuQoy5UHz-Ikcg0</string>
	<key>GCM_SENDER_ID</key>
	<string>405595924893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.globelEdu</string>
	<key>PROJECT_ID</key>
	<string>globel-edu</string>
	<key>STORAGE_BUCKET</key>
	<string>globel-edu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405595924893:ios:e726711786b8b3db88a774</string>
</dict>
</plist>